*{
    font-size: 30px;
    background-color: rgb(253, 243, 225);

}
h1,h2,h3{
    font-family: cursive;
}
ul>li{
    color:pink;

}
a[href*="google"]{
    background-color: aquamarine;
}
#first{
    background-color: blueviolet;
}
.odd{
    background-color: rgb(80, 52, 191);
}
.even{
    background-color: rgb(255, 0, 0);
}
